<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebSocket Test Client</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    </head>
    <body>
        <div>
            <h1>WebSocket Chat</h1>
            <div>

                <div>
                    <input type="text" id="message" placeholder="Enter your message">
                    <button onclick="sendMessage()">Send</button>
                </div>
                <br/>
                <div>
                    <input type="text" id="privateMessage" placeholder="Enter your message">
                    <input type="text" id="sendTo" placeholder="To"/>
                    <button onclick="sendPrivateMessage()">Send Private</button>
                </div>

                <br/>
                <br/>

                <div id="messages"></div>

            </div>
        </div>

        <script>
            const socket = new SockJS('/chat');
            const stompClient = Stomp.over(socket);

            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);

                stompClient.subscribe('/topic', function (message) {
                    console.log(message.body);
                    showMessage(JSON.parse(message.body));
                });

                stompClient.subscribe('/user', function (message) {
                    console.log(message.body);
                    showMessage(JSON.parse(message.body));
                });
            });

            function showMessage(message) {
                var response = document.getElementById('messages');
                var p = document.createElement('p');
                p.innerHTML = JSON.stringify(message)
                response.appendChild(p);
            }

            function sendMessage() {
                var message = document.getElementById('message').value;
                stompClient.send("/app/application", {},
                    JSON.stringify({'text': message}));
            }

            function sendPrivateMessage() {
                var message = document.getElementById('privateMessage').value;
                var sendTo = document.getElementById('sendTo').value;
                stompClient.send("/app/private", {},
                    JSON.stringify({'text': message, 'sendTo': sendTo}));
            }
        </script>
    </body>
</html>
